<style>
  .btn {
    font-size: 20px;
    margin: 70px;
    width: 144px;
    height: 144px;
    position: relative;
    border: none;
    border-radius: 50%;
    color: #fff;
    background: linear-gradient(to right, #1bb0aa , #71bd66);
    cursor:pointer;
  }
</style>

<button class="btn">PLAY VIDEO</button>